{% extends 'base.html.twig' %}

{% block title %}Create TimePool Account{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center pt-3 pb-3">Create your account</h1>
        <div class="text-center"><img class="rounded-circle  mt-3 mb-3" style="width: 150px; height: 150px;" src="http://placehold.it/150x150" alt="profile_img"></div>
    {{ form_start(form) }}
    {{ form_rest(form) }}
        <br>
        <button type="submit" class="btn btn-primary">Create an account</button>
        <a href="" class="float-right">< Back</a>
    {{ form_end(form) }}
    </div>

{% endblock %}
