hr {
    border: 2px solid #cccccc;
    border-radius: 15px;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible {
    color: #008cba;
    cursor: pointer;
}

#arrow {
    height: 30px;
    width: 30px;
}